.title{
    text-align: center;
}
#yellow{
}
.candy-containers{
    background-color: rgb(0, 131, 212);
    width: 100px;
    height: 100px;
    border: 1px solid lightblue;
}
.row{
    display: flex;
}